schemas/A1Schema.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.w3schools.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SensorCatalogue">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Sensor" maxOccurs="unbounded" minOccurs="0">  
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="Type" type="xs:string" minOccurs="1" maxOccurs="1"/>
                     <xs:element name="Model" type="xs:string" minOccurs="1" maxOccurs="1"/>
                     <xs:element name="Vendor" type="xs:string" minOccurs="1" maxOccurs="1"/>
                     <xs:element name="Description" type="xs:string" minOccurs="0" maxOccurs="1"/>
                     <xs:element name="Outputs" minOccurs="1" maxOccurs="1">
                        <xs:complexType>
                           <xs:choice maxOccurs="5" minOccurs="1">
                              <!--<xs:simpleType>-->
                              <!--   <xs:restriction base="xs:integer">-->
                              <!--      <xs:minInclusive value="0"/>-->
                              <!--      <xs:maxInclusive value="100"/>-->
                              <!--   </xs:restriction>-->
                              <!--</xs:simpleType>-->
                              <xs:element name="integerOutput" minOccurs="0" maxOccurs="5" >
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:integer">
                                          <xs:attribute name="id" use="required">
                                             <xs:simpleType>
                                                <xs:restriction base="xs:integer">
                                                   <xs:pattern value="[0-9]"/>
                                                </xs:restriction>
                                             </xs:simpleType>      
                                          </xs:attribute>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="floatOutput" minOccurs="0" maxOccurs="5">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:float">
                                          <xs:attribute name="id" use="required">
                                             <xs:simpleType>
                                                <xs:restriction base="xs:integer">
                                                   <xs:pattern value="[0-9]"/>
                                                </xs:restriction>     
                                             </xs:simpleType>
                                          </xs:attribute>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <!--<xs:simpleType>-->
                              <!--   <xs:restriction base="xs:double">-->
                              <!--      <xs:minInclusive value="-50"/>-->
                              <!--      <xs:maxInclusive value="50"/>-->
                              <!--   </xs:restriction>-->
                              <!--</xs:simpleType>-->
                              <xs:element name="doubleOutput" minOccurs="0" maxOccurs="5">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:double">
                                          <xs:attribute name="id" use="required">
                                             <xs:simpleType>
                                                <xs:restriction base="xs:integer">
                                                   <xs:pattern value="[0-9]"/>
                                                </xs:restriction>
                                             </xs:simpleType>      
                                          </xs:attribute>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <!--<xs:simpleType>-->
                              <!--   <xs:restriction base="xs:string">-->
                              <!--      <xs:pattern value="[A-Za-z]{10}"/>-->
                              <!--   </xs:restriction>-->
                              <!--</xs:simpleType>-->
                              <xs:element name="textOutput" minOccurs="0" maxOccurs="5">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="id" use="required">
                                             <xs:simpleType>
                                                <xs:restriction base="xs:integer">
                                                   <xs:pattern value="[0-9]"/>
                                                </xs:restriction>
                                             </xs:simpleType>      
                                          </xs:attribute>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                           </xs:choice>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
                     <xs:attribute name="id" use="required">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="[A-Z][A-Z][A-Z][a-z][-][0-9][0-9][a-z]"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
               </xs:complexType>  
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema> 